# Beefree SDK Credentials
BEE_CLIENT_ID='YOUR-CLIENT-ID'
BEE_CLIENT_SECRET='YOUR-CLIENT-SECRET'

# Template Catalog API
TEMPLATE_CATALOG_API_URL='https://api.getbee.io/v1/catalog'
TEMPLATE_CATALOG_API_TOKEN='YOUR-TEMPLATE-CATALOG-API'

# Content Services API (for exports)
CS_API_TOKEN='YOUR-CONTENT-SERVICES-API-KEY'

# HTML Importer API (for importing HTML emails)
HTML_IMPORTER_API_KEY='YOUR-HTML-IMPORTER-API-KEY'

# Server Port
PORT=3001
